<!--[if lte IE 9]>
<p class="browserupgrade">
  You are using an <strong>outdated</strong> browser. Please
  <a href="https://browsehappy.com/">upgrade your browser</a> to improve
  your experience and security.
</p>
<![endif]-->


<header class="header navbar-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">

          <nav class="navbar navbar-expand-lg">
            <%= link_to root_path, class: 'navbar-brand' do %>
              <%= image_tag 'logo.png', alt: 'logo' %>
            <% end %>
            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="#home" class="page-scroll active" aria-label="Toggle navigation">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#features" class="page-scroll" aria-label="Toggle navigation">Features</a>
                </li>
                <li class="nav-item">
                  <a href="#overview" class="page-scroll" aria-label="Toggle navigation">Overview</a>
                </li>
                <li class="nav-item">
                  <a href="#pricing" class="page-scroll" aria-label="Toggle navigation">Pricing</a>
                </li>
                <li class="nav-item">
                  <a href="#team" class="page-scroll" aria-label="Toggle navigation">Team</a>
                </li>
              </ul>
            </div>
            <div class="button add-list-button">
              <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn">Get it now</a>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</header>


<section id="home" class="hero-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12 col-12">
        <div class="hero-content">
          <h1 class="wow fadeInLeft" data-wow-delay=".4s">A powerful app to arrange your day.</h1>
          <p class="wow fadeInLeft" data-wow-delay=".6s">Revamp your task management with Taskbud. There’s never been a better time to be organized. Download Taskbud now!</p>
          <div class="button wow fadeInLeft" data-wow-delay=".8s">
            <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn btn-alt"><i class="lni lni-play-store"></i> Google
              Play</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-12">
        <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
          <%= image_tag 'app_splash.png', width: '600', height: '800', alt: '#' %>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="features" class="features section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Features</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Your Experience Gets Better And Better Over Time.
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">Don't take our word for it. TaskBud’s got unique and cool features that are going to turn the tide on your everyday grind in a blink.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">

        <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
          <i class="lni lni-cloud-upload"></i>
          <h3>Task Creation</h3>
          <p>Create tasks with ease, just type and hit the done button!</p>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12">

        <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
          <i class="lni lni-alarm"></i>
          <h3>Notification Reminders</h3>
          <p>Go beyond a simple task list. Never forget a task again with timely reminders.</p>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12">

        <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
          <i class="lni lni-reload"></i>
          <h3>Task Completion</h3>
          <p>Mark your tasks as completed and watch them cross-out through the day, it‘s your victory!</p>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12">

        <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
          <i class="lni lni-shield"></i>
          <h3>Daily Calendar View</h3>
          <p>Get your day’s tasks at a glance, neat and organized.</p>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12">

        <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
          <i class="lni lni-cog"></i>
          <h3>Tasks Tracker</h3>
          <p>Let Taskbud keep track and help you visualize your to-do list through a monthly snapshot</p>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12">

        <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
          <i class="lni lni-layers"></i>
          <h3>Offline Support</h3>
          <p>Create and complete your tasks and sync with the cloud when you get back online</p>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="overview" class="app-info section">
  <div class="container">
    <div class="info-one">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">

          <div class="info-text wow fadeInLeft" data-wow-delay=".3s">
            <div class="main-icon">
              <i class="lni lni-inbox"></i>
            </div>
            <h2>Daily snapshot</h2>
            <p>Whether you’re a CEO, a wizard of Hyperbolic Time Chamber, or a goldfish with memory issues, you’re bound to love Taskbud. This smart app collects your to-dos. No fuss. No confusion. A dash of fun, a pinch of efficiency, and a load of organization!</p>
            <div class="button">
              <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn">Get Started</a>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="info-image wow fadeInRight" data-wow-delay=".5s">
            <%= image_tag 'home.png', height: 600, alt: 'app home screen' %>
          </div>
        </div>
      </div>
    </div>
    <div class="info-one style2">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="info-image wow fadeInLeft" data-wow-delay=".3s">
            <%= image_tag 'profile.png', height: 600, alt: 'app profile screen' %>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">

          <div class="info-text wow fadeInRight" data-wow-delay=".5s">
            <div class="main-icon">
              <i class="lni lni-layout"></i>
            </div>
            <h2>Monthly Overview</h2>
            <p>We get it, remembering one task is easy. Remembering twenty-three? Absolute chaos. Don’t you worry, Taskbud has got your back.</p>
            <div class="button">
              <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn">Get Started</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="section call-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="cta-content">
          <h2 class="wow fadeInUp" data-wow-delay=".2s">Install Taskbud and Start Using</h2>
          <p class="wow fadeInUp" data-wow-delay=".4s">Ready to make your life easier? Download Taskbud—your route to organization. Track. Complete. Celebrate. One task at a time.</p>
          <div class="button wow fadeInUp" data-wow-delay=".6s">
            <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn btn-alt"><i class="lni lni-play-store"></i> Google
              Play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<a href="#" class="scroll-top">
  <i class="lni lni-chevron-up"></i>
</a>
