<header class="header navbar-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">

          <nav class="navbar contact-nav-bar">
            <%= link_to root_path, class: 'navbar-brand' do %>
              <%= image_tag 'logo.png', alt: 'logo' %>
            <% end %>
            <div class="button add-list-button">
              <a href="https://play.google.com/store/apps/details?id=com.jacknkiarie.taskbud" class="btn">Get it now</a>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</header>


<section id="home" class="hero-area">
  <div class="contact-form-head">
    <div class="contact-form-header">
      <h2>Request Account Deletion</h2>
      <p class="contact-form-description">Please use the form below to request Taskbud mobile app to delete your account and/or your data. This includes all tasks created. Once submitted, your data will be deleted within 7 days. This action is not reversible</p>
    </div>
    <div class="container contact-form">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="form-main">
          <%= form_with model: @account_request, class: 'form' do |f| %>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <%= f.text_field :name, placeholder: 'Your Name', required: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <%= f.email_field :email, placeholder: 'Your Email', required: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <%= f.select :request_type, [['Delete Account and data', 'delete_all'], ['Delete only data', 'delete_data']], { prompt: 'Select what data we should delete' }, { class: 'form-select'} %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <%= f.text_area :message, placeholder: 'Additional message (optional)' %>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group button">
                <%= f.submit 'Submit Request', class: 'btn' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
